extends layout

block content
	body(onload="start()")
	h1(class = "Header")= title
	p(class = "WTimer", id="WeekendTimer") #{timer} 

	link(rel='stylesheet', href='/stylesheets/weekend.css')
	script(src='/javascripts/weekend.js')

	meta(property="og:name" content="Weekend teaser!")
	meta(property="og:description" content="Welcome! This is a sub-timer that shows how far the weekend is away! (saturday to be spesific)")
	//meta(property="og:description" content="Welcome! This is a website focused on timers and me making my first website")

	<div class="navbar">
		<a href="/">Home</a>
		<a href="/info">Info (WIP)</a>
		<a href="/weekend">Weekend timer</a>
	</div>